<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<h1> Chapter Submission</h1>

<form method="post">
    <div class="col-2">
        <label>Id         
    <input type="text" name="id" placeholder="Title" [(ngModel)]='chapter.id'  [readOnly]="!editing" required><br><br>
      </label>
    </div>

    <div class="col-3">
        <label>Title     
    <input type="text" name="title" placeholder="Author" [(ngModel)]='chapter.title' required [readOnly]="!editing"><br><br>
      </label>
    </div>

    <div class="col-2">
        <label>Successor
    <select aria-label=" Publication Year" name="pub_year" id="chapter" title="Chapter" class="_5dba" placeholder="Chapter"  [(ngModel)]='chapter.successor' [disabled]="!editing" required>
      <option *ngFor="let chapter of _chapterService.getChapters()" value="{{predecessor}}">{{chapter.title}}</option> 
    </select>
    </label>

    </div>
    <div class="col-3">

        <label for="Successor">Predecessor
    <select id="Successor" name="Successor" [(ngModel)]="chapter.title" [disabled]="!editing" >
      <option *ngFor="let chapter of _chapterService.getChapters()" value="{{successor}}">{{chapter.title}}</option>
    </select>
    </label>
    </div>
    <div class="col-submit">
        <br><br>
        <a class="deletebutton" [style.background-color]="getStyle()" (click)="isDetails? bookService.delete(book) : postChapter()" [routerLink]="['/books']">{{isDetails ? "Delete":"Add"}}</a>
        <a class="editbutton" *ngIf="isDetails" (click)="edit()">{{editing ? "Save":"Edit"}}</a>
        <a class="addchapbutton" *ngIf="isDetails" [ routerLink]="['/chapter/add']"> {{editing ? "Save": "Add"}}</a>
    </div>
</form>
<a *ngIf="isDetails" data-toggle="collapse" href="#collapse1">Collapsible list group</a>
<div id="collapse1" class="panel-collapse collapse">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let chapter of _chapterService.getChapters()"> {{chapter.id}}-{{chapter.title}}</li>
    </ul>
</div>