<h1>{{isDetails ? "Chapter Details":"Chapter Submission"}}</h1>
<div class="container">
    <form method="post">
        <div id="title" class="col-1 form-group">
            <label>Book Title</label>
            <label class="book_title">Ramayana</label>
        </div>
        <div class="col-2 form-group">
            <label>Id         
                <input type="text" name="id" placeholder="Id" [(ngModel)]='chapter.id'  [readOnly]="!editing" required><br><br>
            </label>
        </div>

        <div class="col-2 form-group">
            <label>Title     
                <input type="text" name="title" placeholder="Title" [(ngModel)]='chapter.title' required [readOnly]="!editing"><br><br>
            </label>
        </div>

        <div class="col-2 form-group">
            <label>Successor
                <select aria-label ="successor" name="successor" id="chapter" title="Chapter" class="_5dba" placeholder="Chapter"  [(ngModel)]='chapter.successor' [disabled]="!editing" required>
                    <option *ngFor="let chapter of _chapterService.getChapters()" value="{{chapter.id}}">{{chapter.successor}}</option> 
                </select>
            </label>
        </div>

        <div class="col-2 form-group">
            <label for="Successor">Predecessor
                <select id="Successor" name="Successor" [(ngModel)]="chapter.predecessor" [disabled]="!editing" >
                    <option *ngFor="let chapter of _chapterService.getChapters()" value="{{chapter.id}}">{{chapter.predecessor}}</option>
                </select>
            </label>
        </div>

        <div class="col-1 form-group">
            <div class="form-btns">
                <button type="button" class="btn btn1" [class.btn-danger]="isDetails" [class.btn-primary]="!isDetails" (click)="isDetails? _chapterService.delete(chapter) : postChapter()" [routerLink]="['/books']">{{isDetails ? "Delete":"Add"}}</button>
                <button type="button" class="btn btn-primary btn1" *ngIf="isDetails" (click)="edit()">{{editing ? "Save":"Edit"}}</button>
            </div>
        </div>
    </form>
</div>
<br><br>
<div class="container">
    <div class="chap-list-header">
        <a *ngIf="isDetails" data-toggle="collapse" href="#collapse1">List of Chapters</a>
    </div>
    <br>
    <div id="collapse1" class="panel-collapse collapse chap-list">
        <div class="list-group">
            <a class="list-group-item" [routerLink]="['/chapter', chapter.id]" *ngFor="let chapter of _chapterService.getChapters()"> {{chapter.id}}-{{chapter.title}}</a>
        </div>
    </div>
</div>