form>div#title {
    text-align: center;
}

form>div#title {
    border-bottom: 1px solid #E4E4E4;
}

@media(min-width: 800px) {
    form>div#title {
        box-shadow: 1px 1px #E4E4E4;
        border: none;
    }
}

form>div>label>a {
    text-transform: none;
}

[hidden] {
    display: none !important;
}

.chap-nextprev {
    display: inline-block;
    vertical-align: top;
}

.hyphenp {
    margin: 0;
}