<center>
  <h1>Book Submission</h1>
  <form method="post">
    <label >Title</label>
    <input type="text" name="title" placeholder="Title"  [(ngModel)]='book.title' required ><br><br>

    <label >Author</label>
    <input type="text" name="author" placeholder="Author" [(ngModel)]='book.author' required><br><br>

    <label >Publication Year</label>


    <select aria-label=" Publication Year" name="pub_year" id="year" title="Year" class="_5dba" placeholder="Year" [(ngModel)]='book.publicationYear' required>
      <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
    </select>

    <br><br>

    <label for="Langauge">Langauge</label>
    <select id="Langauge" name="Langauge" [(ngModel)]='book.language'>
      <option *ngFor="let lang of langCodes" value="{{lang}}">{{lang.code}} - {{lang.name}}</option>
    </select>

    <br><br>
     <button (click)="onTestPost()">Add</button>
  </form>
</center>
