<center><h1>Book Submission</h1>
<body >
<form action="demo_form.asp" method="post">

<label >Title</label>
<input type="text" name="title" placeholder="Title" required><br><br>

<label >Author</label>
<input type="text" name="author" placeholder="Author" required><br><br>

<label >Publication Year</label>


<select aria-label=" Publication Year" name="publication year" id="year" title="Year" class="_5dba" placeholder="Year" required>
<option *ngFor="let year of years" value="{{year}}">{{year}}</option>//year can be any name but years is our array
  </select>

<br><br>

<label for="Langauge">Langauge</label>
<select id="Langauge" name="Langauge">
  <option *ngFor="let lang of langCodes" value="{{lang}}">{{lang.code}} - {{lang.name}}</option>
</select>

<br><br>
<button type="submit">Add</button>
</form>
</body>
</center>
