@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Noticia+Text');
h1 {
    font-family: 'Noticia Text', serif;
    font-size: 32px;
    color: dimgrey;
}

pagination-controls {
    float: right;
    margin: 0px;
}

.container {
    margin: auto;
}